<h3>Edit Customers</h3>
<form method="post" action="/customers">
    <input type="text" name="name" value="<%= name %>" placeholder="Enter Customer Name"/>
    <input type="email" name="email" value="<%= email %>" placeholder="Enter Email"/>
    <input type="submit" value="Submit"/>
    <a href="/"><button>Cancel</button></a>
</form>
<hr>
