<h3>Add Customers</h3>
<form method="post" action="/customers">
    <input type="text" name="name" placeholder="Enter Customer Name"/>
    <input type="email" name="email" placeholder="Enter Email"/>
    <input type="submit" value="Submit"/>
</form>
<hr>
<h3>Customers</h3>
<ul>
    <% customers.forEach(function (customer){ %>
        <li>
            <h4><%= customer.value.name %></h4>
            <%= customer.value.email %>
            <form method="post" action="/customers/delete/<%= customer.key %>">
                <input type="hidden" value="<%= customer.value.rev %>" name="rev">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% }); %>
</ul>
